.chatSidebarWrapper{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.chatSidebarHeader{
    padding: 0 0 0.8rem 0;
    width: 100%;
    display: flex;
}

.backIcon{
    padding: 0.5rem 0.6rem;
    border-radius: 1rem;
    cursor: pointer;
    background: rgb(233, 231, 231);
    color: grey;
    margin-right:1rem ;
}

/* chat info sections  */

.chatInfoWrapper{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(238, 235, 235) ;
    /* justify-content: space-evenly; */
}

.chatInfoWrapper img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    /* margin: 0 0 1rem 0; */
    margin: 1rem;
}

.online-icon{
    position: absolute;
    height: 20px;
    border: 3px solid #fff;
    width: 20px;
    right: 1.3rem;
    bottom: 1.5rem;
    border-radius: 50%;
    background-color: #00a389;
}

.chatInfoWrapper .dropdown{
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-bottom:1rem ;
    color:#00a389 ;
    width: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#b7e4dc ;
}

.chatInfoWrapper p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.search{
    background-color: #f1f1f1;
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
    color: grey;
    width: 100%;
}

.search input{
    text-decoration: none;
    border: none;
    background-color: transparent;
    width: 85%;
}

.search button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin-left:auto ;
    cursor: pointer;
}

/* chat list  */


.chatList .last{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
   /* background-color: grey; */
   color: rgb(155, 154, 154);
   padding: 0.8rem 0.5rem 1rem 0.5rem;
}

.chatList .options{
    width: 3rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    
}

.options .icon-s{
    color: #00a389;
    font-size: 0.8rem;
    background-color: #b7e4dc;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.chatList .chatScroler{
    max-height:23rem;
    overflow-y:scroll;
}

/* chat box  */

.chatBoxConatiner{
    display: flex;
    justify-content: space-between;
    color:rgb(126, 125, 125) ;
    padding: 1rem;
    border-radius: 0.8rem;
}

.chat-selected{
    background-color:#f1f1f1;
}

.chatBoxConatiner img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.details .heading{
    font-weight: 600;
    color: #000;
    margin-block-end: 0.1rem;
}

.details p{
    margin-block-end: 0;
    margin-block-start: 0;
}

@media (min-width: 320px) and (max-width: 480px){
    .chatList .chatScroler{
        max-height:14rem;
    }
}



